<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
  <%- include('partials/navbar', { page: '/about' }) %>

<body>
  <div class="container mx-auto">

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <h1 class="text-5xl font-bold">About Me!</h1>
            <p class="py-6">Discover all about me - your guide through design &amp; development.</p>

          </div>
        </div>
      </div>


    <div class="grid grid-cols-2 gap-2 text-center p-4">
        <div class="flex justify-center items-center">
            <img src="https://www.senecacollege.ca/content/dam/projects/seneca/campus-photos/king-campus.jpg" alt="senecacollege" class="rounded-lg shadow-xl" width="300" height="300" />
        </div>

        <div class="flex justify-center items-center">
          <p>I am passionately immersed in the study of architecture, with a strong inclination 
            towards building design and the arts, currently honed at Seneca College. 
            My educational journey is characterized by a deep commitment to exploring 
            the creative and technical aspects of architecture. Each class allows me
             to deepen my understanding of design principles 
            and artistic expression, enriching my perspective on the built environment.</p>
        </div>
    </div>
      
      

</div>

</body>
</html>
  